<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{style}}">
    {% endfor %}

    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        {%block body%} {%endblock%}
    </div>
    <!-- Optional JavaScript -->
    {% for script in scripts %}
    <script src="{{script}}" type="text/javascript"></script>
    {% endfor %}
</body>

</html>