{% extends 'Layout.html' %} {% block style %} {% endblock%} {% block body %}
<div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" id="frmLogin" method="POST" action="/Login/SignIn">
            <span class="login100-form-title p-b-51">
                Login
            </span>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                <input class="input100 inputSignIn" type="text" name="username" placeholder="Username" id="txtUserName"
                    autocomplete="off" />
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                <input class="input100 inputSignIn" type="password" name="password" placeholder="Password"
                    id="txtPassword" autocomplete="off" />
                <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn" type="submit">
                    Login
                </button>
                <a href="#" class="txt1 m-t-17 txt-center" id="toSignup">
                    Don't have an account? Sign Up
                </a>
            </div>
        </form>
        <form class="login100-form validate-form flex-sb flex-w" id="frmSignup">
            <span class="login100-form-title p-b-51">
                Sign Up
            </span>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                <input class="input100 inputSignUp" type="text" name="username" placeholder="Username"
                    id="txtUserName_Signup" autocomplete="off" />
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                <input class="input100 inputSignUp" type="password" name="password" placeholder="Password"
                    id="txtPassword_Signup" autocomplete="off" />
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Mobile number is required">
                <input class="input100 inputSignUp" type="tel" inputmode="tel" name="mobile" placeholder="mobile"
                    id="txtMobile_Signup" autocomplete="off" />
                <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn" id="btnSignUpSubmit" type="button">
                    Sign Up
                </button>
                <a href="#" class="txt1 m-t-17 txt-center" id="toLogin">
                    <i class="fa fa-arrow-left"></i> Login
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %} {% endblock%}