{% extends 'Layout.html' %} {% block style %} {% endblock%} {% block body %}
<ul>
    {% for user in users %}
    <li {% if loop.first %} class="first" {% endif %}>{{ user.userName }} <small>({{ user.mobile }} -
            {{ user.role }})</small>
    </li>
    {% endfor %}
</ul>
<!-- Modal -->
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUserTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddUserTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/add" method="POST">
                    <div class="form-group">
                        <label for="txtUserName">User Name</label>
                        <input type="text" class="form-control" id="txtUserName" name="txtUserName"
                            aria-describedby="emailHelp" placeholder="Enter userName">
                    </div>
                    <div class="form-group">
                        <label for="txtGender">Gender</label>
                        <input type="text" class="form-control" id="txtGender" name="txtGender" placeholder="Gender">
                    </div>
                    <div class="form-group">
                        <label for="txtAge">Age</label>
                        <input type="number" class="form-control" id="txtAge" name="txtAge" placeholder="Age">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %} {% endblock%}